body {
  background-color: white;
}

.container{
  margin: 200px 120px;
}

.box1{
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 200px;
  background-color: #8690FF;
  border-radius: 20% 20% 20% 20%;
  box-shadow: 3px 3px 6px rgba(0,0,0, .4);
}

.box2{
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 200px;
  background-color: #8690FF;
  border-radius: 20% 20% 20% 20%;
  box-shadow: 3px 3px 6px rgba(0,0,0, .4);
}

.box3{
  position: absolute;
  z-index: 0;
  width: 200px;
  height: 200px;
  background-color: #8690FF;
  border-radius: 20% 20% 20% 20%;
  box-shadow: 3px 3px 6px rgba(0,0,0, .4);
}
/* transition */
/* .box2{
  transition: 0.2s ease-out 0.5s;
}

.container:hover .box2{
  transform: translate(10px, 10px);
}

.box3{
  transition: background-color 1s linear 1.5s, transform 0.2s ease-out 1s;
} */

/* animation */
@keyframes test {
  
}



.container:hover .box3{
  /* transiton */
  /* transform: translate(20px, 20px);
  background-color: white; */

  /* animation */
  transform: translate(20px, 20px);
  
}