
.container{
    visibility: hidden;
    position: absolute;
    top: 30px;
    left: 490px;
}



.text{
    position: absolute;
    z-index: 1;
    left: 40px;
    background-color: black;
    border-radius: 15px;
    width: 550px;
    height: 300px;
}

.text p{
    text-align: center;
    font-size: 100px;
    color: white;
}

.arrow{
    border-radius: 5px;
    width: 100px;
    height: 100px;
    background-color: black;
    top: 90px;
    position: absolute;
    z-index: 0;
    transform: rotate(45deg);
}



.test{
    font-size: 100px;
    display: inline-block;
}


.big-container:hover .container{
    visibility: visible;
    color: red;
}